<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Student Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ studentData.firstName }} {{ studentData.lastName }}</ion-card-title>
      <ion-card-subtitle>Sheridan ID: {{ studentData.sheridanId }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="business-outline" slot="start"></ion-icon>
        <ion-label><strong>Campus:</strong> {{ studentData.campus }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="school-outline" slot="start"></ion-icon>
        <ion-label><strong>Department:</strong> {{ studentData.department }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label [ngStyle]="{'margin-left': '55px'}"><strong>Languages of Correspondence:</strong></ion-label>
      </ion-item>
      <ion-grid>
        <!-- First row -->
        <ion-row>
          <ion-col size="2" style="display: flex; justify-content: left; align-items: center; background-color: white;">
            <ion-icon name="language-outline" style="font-size: 2rem; color: var(--ion-color-warning);"></ion-icon>
          </ion-col>      
          <ion-col size="4" [ngStyle]="{'background-color': 'var(--ion-color-secondary)'}">
            <div *ngFor="let language of studentData.languages">
              <p [ngStyle]="{'color': 'white'}">{{ language }}</p>
            </div>
          </ion-col>   
        </ion-row>
      </ion-grid>
      <ion-item-divider color="medium">
        <ion-label>App Version Details</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-icon name="apps-outline" slot="start" color="success"></ion-icon>
        <ion-label><strong>App Name: </strong>{{ appName }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="document-text-outline" slot="start" color="danger"></ion-icon>
        <ion-label><strong>Package Name: </strong>{{ packageName }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="code-slash-outline" slot="start" color="secondary"></ion-icon>
        <ion-label><strong>Version Code: </strong>{{ versionCode }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings-outline" slot="start" color="tertiary"></ion-icon>
        <ion-label><strong>Version Number: </strong>{{ versionNumber }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
